# dependencies
node_modules

# testing
coverage

# production
build
dist
lib

# mac
.DS_Store

# Environment
.env
*.env*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# lock file (we use yarn)
package-lock.json

# documentation
.docz
.cache

# publishing
electron-builder.yml